
---
import PortableTextRenderer from './PortableTextRender.jsx';

interface Props {
  title: string;
  date: string;
  description?: string; // Now optional
  richText?: any;      // New optional prop for block content
  url?: string;
}

const { title, date, description, richText, url } = Astro.props;
const Tag = url ? 'a' : 'div';
---
<Tag href={url} class="group block relative p-4 rounded-lg -m-4">
  <div class="relative">
    <div class="flex justify-between items-baseline mb-2">
        <h3 class="font-semibold text-text-tertiary transition-colors group-hover:text-accent">{title}</h3>
        {date && <p class="text-xs text-text-secondary font-mono transition-colors">{date}</p>}
    </div>

    {/* Conditionally render either the rich text or the simple description */}
    {richText ? (
      <div class="text-sm text-text-secondary">
        <PortableTextRenderer value={richText} client:only="react" />
      </div>
    ) : (
      <p class="text-sm text-text-secondary transition-colors">
        {description}
      </p>
    )}
  </div>
  <div class="absolute inset-0 border-2 border-transparent group-hover:border-border rounded-lg transition-colors pointer-events-none"></div>
</Tag>

